@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

header{
    background-color: #5E92D8;
    height: 80px;
    width: 100%;
    display: table;
}

header p{
    color: #FFFFFF;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #630330;
    font-weight: 300;
    text-align: center;
    background-color: #CBC3E3;
}

h1{
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    background-color: #953553;
    color: #FFFFFF;
}

.question{
    font-size: 30px;
    margin-bottom: 10px;
}

.answers{
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}

.answers label{
    display: block;
    margin-bottom: 10px;
}

#submit{
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #5E92D8;
    color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

#submit:hover{
    background-color: #3388AA;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide{
    opacity: 1;
    z-index: 2;
}

.quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
}


footer {
    display: table;
    background-color: #5E92D8;
    height: 60px;
    width: 100%;
    border-top: 1px solid #953553;
    position: fixed;
    bottom: 0;
}

footer p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

